---
name: "Pull Request Pipeline"

# Define permissions at the workflow level
permissions:
  contents: "write"
  pull-requests: "write"
  actions: "read"
  # Needed to upload SARIF results
  security-events: "write"
  checks: "write"  # Add this to allow check run creation

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]  # yamllint disable-line rule:quoted-strings

jobs:
  gdlint:
    name: "GDScript Lint and Format Check"
    uses: "./.github/workflows/gdlint.yml"
  readmelint:
    name: "Markdown Lint"
    uses: "./.github/workflows/lint_readme.yml"
  yamllint:
    name: "YAML Lint"
    uses: "./.github/workflows/yamllint.yml"
    with:
      config-path: ".github/workflows/*.yml"
  gdunit4_tests:
    name: "GDUnit4 Unit Tests"
    uses: "./.github/workflows/gdunit4_tests.yml"
    needs:
      - "gdlint"
      - "readmelint"
      - "yamllint"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
  gut_tests:
    name: "GUT Unit Tests"
    uses: "./.github/workflows/gut_tests.yml"
    needs:
      - "gdlint"
      - "readmelint"
      - "yamllint"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
  browser_tests:
    name: "Browser Functional Tests"
    uses: "./.github/workflows/browser_test.yml"
    needs:
      - "gdunit4_tests"
      - "gut_tests"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
