---
name: "Main CI/CD Pipeline"

# Define permissions at the workflow level
permissions:
  contents: "write"
  pull-requests: "write"
  actions: "read"
  # Needed to upload SARIF results
  security-events: "write"
  checks: "write"  # Add this to allow check run creation

on:  # yamllint disable-line rule:truthy
  push:
    # Triggers on pushes to main
    branches: [main]  # yamllint disable-line rule:quoted-strings

jobs:
  gdlint:
    name: "GDScript Lint and Format Check"
    uses: "./.github/workflows/gdlint.yml"  # Removed extra /workflows/
  readmelint:
    name: "Markdown Lint"
    uses: "./.github/workflows/lint_readme.yml"
  yamllint:
    name: "YAML Lint"
    uses: "./.github/workflows/yamllint.yml"
    with:
      config-path: ".github/workflows/*.yml"
  gdunit4_tests:
    name: "GDUnit4 Unit Tests"
    uses: "./.github/workflows/gdunit4_tests.yml"
    needs:
      - "gdlint"
      - "readmelint"
      - "yamllint"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
  gut_tests:
    name: "GUT Unit Tests"
    uses: "./.github/workflows/gut_tests.yml"
    needs:
      - "gdlint"
      - "readmelint"
      - "yamllint"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
  browser_tests:
    name: "Browser Functional Tests"
    uses: "./.github/workflows/browser_test.yml"
    needs:
      - "gdunit4_tests"
      - "gut_tests"
    secrets:
      CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
  codeql:
    name: "CodeQL Scan on Web Export"
    needs:
      - "browser_tests"
    uses: "./.github/workflows/codeql.yml"
  snyk:
    name: "Snyk Scan on Web Export"
    needs:
      - "browser_tests"
    uses: "./.github/workflows/snyk.yml"
    secrets:
      SNYK_TOKEN: "${{ secrets.SNYK_TOKEN }}"
      ORG_ID: "${{ secrets.ORG_ID }}"
  trivy:
    name: "Trivy vulnerability scanner"
    needs:
      - "browser_tests"
    uses: "./.github/workflows/trivy.yml"
  release_drafter:
    name: "Release Drafter"
    needs:
      - "codeql"
      - "snyk"
      - "trivy"
    uses: "./.github/workflows/release_drafter.yml"
    secrets:
      AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  deploy-itch:
    name: "Deploy to itch.io"
    needs:
      - "release_drafter"
    uses: "./.github/workflows/deploy_to_itch.yml"
    with:
      version: ${{ needs.release_drafter.outputs.release_tag }}
    secrets:
      ITCHIO_API_KEY: "${{ secrets.ITCHIO_API_KEY }}"
